<a href="https://colab.research.google.com/github/TonyGlimm/Letterboxd_Rating/blob/main/02_TG_letterboxd_prepare_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('drive', force_remount=True)
from pathlib import Path

Mounted at drive

In [2]:
movie_DF_temp = pd.read_csv('drive/My Drive/Colab Notebooks/data/movie_db.csv')
user_DF_temp = pd.read_csv('drive/My Drive/Colab Notebooks/data/user_ratings.csv')

In [3]:
users = user_DF_temp['lb_username'].unique()

In [4]:
users

array(['swaiborr', 'behaind', 'csb_de', 'davidehrlich', 'awesometacular',
       'ignmovies', 'chrisstuckmann9', 'robert_hofmann_', 'schaffrillas',
       'mistat', '24framesofnick', 'roberthofmannio'], dtype=object)

In [5]:
movie_DF = movie_DF_temp.copy(deep=True)
movie_DF = movie_DF.drop_duplicates(subset=['Title']) # drop duplicates from movie_df

In [6]:
user_DF = user_DF_temp.copy(deep=True)
user_DF.describe()

        User_Rating
count  17633.000000
mean       3.078376
std        1.061801
min        0.500000
25%        2.500000
50%        3.000000
75%        4.000000
max        5.000000

In [7]:
user_DF= user_DF.drop_duplicates(['Title', 'lb_username']) #drop duplicates from users

In [8]:
user_DF.describe()

        User_Rating
count  17273.000000
mean       3.078736
std        1.062989
min        0.500000
25%        2.500000
50%        3.000000
75%        4.000000
max        5.000000

In [9]:
user_DF.head()

                                 Title  User_Rating lb_username
0                            Day Shift          2.0    swaiborr
1  The Last Black Man in San Francisco          4.0    swaiborr
2                           Spiderhead          2.5    swaiborr
3    Everything Everywhere All at Once          5.0    swaiborr
4                                 CODA          4.5    swaiborr

In [10]:
for user in users:                                                              #loop over all users

  movie_DF[user] =np.nan  
  for movie in movie_DF['Title']:                                               #loop over all movies
    index1 = user_DF.loc[(user_DF['Title']==movie)&(user_DF['lb_username']== user)].index.values #find index of movie where lb_username is user (from the outer for loop)
    # turns out that index1 is an array with only 1 value. its kinda the result of the multi-conditional loc which is designed this way because it could return multiple index. so i will just have to use the first entry of it 

    if len(index1) ==1:                                                           #had to create this because it would throw an error if there is no index 0 (which means this user didnt rate the current movie )
      rating_temp = user_DF.loc[index1[0], 'User_Rating']
    else:
      rating_temp = np.nan


    index2 = movie_DF.loc[movie_DF['Title']==movie].index.values

    movie_DF.at[index2[0], user] = rating_temp

# Backup

In [11]:
#for user in users:            #loop over all users


#movie_DF['behaind'] =np.nan  
#for movie in movie_DF['Title']: #loop over all movies
#  index1 = user_DF.loc[(user_DF['Title']==movie)&(user_DF['lb_username']== 'behaind')].index.values #find index of movie where lb_username is user (from the outer for loop)
  # turns out that index1 is an array with only 1 value. its kinda the result of the multi-conditional loc which is designed this way because it could return multiple index. so i will just have to use the first entry of it 

#  if len(index1) ==1: #had to create this because it would throw an error if there is no index 0 (which means this user didnt rate the current)
#    rating_temp = user_DF.loc[index1[0], 'User_Rating']
#  else:
#    rating_temp = np.nan


#  index2 = movie_DF.loc[movie_DF['Title']==movie].index.values

#  movie_DF.at[index2[0], 'behaind'] = rating_temp

In [26]:
movie_DF.head(2)

,Title,Average_Rating,Release_Year,Director,Cast,Genres,Themes,swaiborr,behaind,csb_de,davidehrlich,awesometacular,ignmovies,chrisstuckmann9,robert_hofmann_,schaffrillas,mistat,24framesofnick,roberthofmannio
0,Day Shift,2.78,2022,J.J. Perry,"Jamie Foxx, Dave Franco, Natasha Liu Bordizzo,...","horror, action, fantasy",NaN,2.0,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,3.0,NaN,2.5
1,The Last Black Man in San Francisco,4.05,2019,Joe Talbot,"Jimmie Fails, Jonathan Majors, Tichina Arnold,...","drama, Moving relationship stories, Politics a...","['family, emotional, emotion, touching or kids...",4.0,4.0,NaN,4.0,NaN,NaN,NaN,3.5,NaN,NaN,NaN,3.5

In [13]:
#movie_DF.to_csv("drive/My Drive/Colab Notebooks/data/movie_db_with_ratings.csv",index=False, header=True)

In [28]:
movie_DF['Cast']= movie_DF['Cast'].str.replace("'","").str.replace("[","").str.replace("]","")
movie_DF['Genres']= movie_DF['Genres'].str.replace("'","").str.replace("[","").str.replace("]","")
movie_DF['Themes']= movie_DF['Themes'].str.replace("'","").str.replace("[","").str.replace("]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
movie_DF.head(2)

,Title,Average_Rating,Release_Year,Director,Cast,Genres,Themes,swaiborr,behaind,csb_de,davidehrlich,awesometacular,ignmovies,chrisstuckmann9,robert_hofmann_,schaffrillas,mistat,24framesofnick,roberthofmannio
0,Day Shift,2.78,2022,J.J. Perry,"Jamie Foxx, Dave Franco, Natasha Liu Bordizzo,...","horror, action, fantasy",NaN,2.0,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,3.0,NaN,2.5
1,The Last Black Man in San Francisco,4.05,2019,Joe Talbot,"Jimmie Fails, Jonathan Majors, Tichina Arnold,...","drama, Moving relationship stories, Politics a...","family, emotional, emotion, touching or kids, ...",4.0,4.0,NaN,4.0,NaN,NaN,NaN,3.5,NaN,NaN,NaN,3.5

In [16]:
temp_DF = movie_DF['Cast'].str.get_dummies(sep=',') ### found a method to do what i want. focused to much on the topic of one hot encodig.

In [17]:
temp_DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7071 entries, 0 to 17396
Columns: 17477 entries,  "Adam OBrian" to Þorbjörg Helga Þorgilsdóttir
dtypes: int64(17477)
memory usage: 943.1 MB

In [30]:
temp_DF.head(2)

,"""Adam OBrian""","""Ahna OReilly""","""Aisling OSullivan""","""Angelo DAngelo""","""Annette OToole""","""Anthony Citric Campos""","""Ariel Stachel""","""Aulii Cravalho""","""Austin OBrien""","""Beverly DAngelo""",...,Zoe Saldaña,Zoey Deutch,Zoë Kravitz,Zoë Lund,Zsófia Psotta,Çağatay Ulusoy,Élodie Fontan,Émilie Dequenne,Éric Herson-Macarel,Þorbjörg Helga Þorgilsdóttir
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
temp_DF.shape

(7071, 17477)

In [20]:
#create dummies for genre
genre_df = movie_DF['Genres'].str.get_dummies(sep=',')

In [31]:
genre_df.shape

(7071, 193)

In [22]:
movie_DF.shape

(7071, 19)

In [23]:
movie_DF.shape

(7071, 19)

In [24]:
new_df = pd.concat([movie_DF, temp_DF, genre_df], axis=1)

In [25]:
new_df.Cast[1]

'Jimmie Fails, Jonathan Majors, Tichina Arnold, Rob Morgan, Mike Epps'

In [32]:
new_df.shape

(7071, 17689)