<a href="https://colab.research.google.com/github/TonyGlimm/Letterboxd_Rating/blob/main/TG_letterboxd_prepare_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('drive', force_remount=True)
from pathlib import Path

Mounted at drive

In [2]:
movie_DF_temp = pd.read_csv('drive/My Drive/Colab Notebooks/data/new_movie_db.csv')
user_DF = pd.read_csv('drive/My Drive/Colab Notebooks/data/user_ratings.csv')

In [3]:
users = user_DF['lb_username'].unique()

In [4]:
#movie_DF.head()
#movie_DF.info()

In [5]:
movie_DF = movie_DF_temp.copy(deep=True)
movie_DF = movie_DF.drop_duplicates(subset=['Title'])

In [6]:
#movie_uni_DF = pd.DataFrame(movie_DF['Title'].unique()) # this creates a new dataframe which only has unique movies. only the titles not more information - dont need this one anymore since I now use the originally movie_DF and just drop duplicates according to the subset Title

### next step is to sort the ratings of each user to the according movie title. each user ranking should have an own column. the column should be named ranking_'username' and should hold the individual ranking. lets try with one user manually and then create a for loop which goes over all users. I will start with a user with many ratings. like behaind

In [7]:
#movie_uni_DF.columns = ['Title'] # renaming the columns

In [8]:
user_DF.head()

                           Title  User_Rating     lb_username
0  Transformers: The Last Knight          1.0  24framesofnick
1            10 Cloverfield Lane          4.5  24framesofnick
2                           Prey          4.0  24framesofnick
3  Teen Titans Go! To the Movies          3.5  24framesofnick
4                       Predator          4.0  24framesofnick

In [9]:
for user in users:            #loop over all users
#user= 'behaind'
  movie_DF[user] =np.nan  
  for movie in movie_DF['Title']: #loop over all movies
    index1 = user_DF.loc[(user_DF['Title']==movie)&(user_DF['lb_username']== user)].index.values #find index of movie where lb_username is user (from the outer for loop)
    # turns out that index1 is an array with only 1 value. its kinda the result of the multi-conditional loc which is designed this way because it could return multiple index. so i will just have to use the first entry of it 

    if len(index1) ==1: #had to create this because it would throw an error if there is no index 0 (which means this user didnt rate the current)
      rating_temp = user_DF.loc[index1[0], 'User_Rating']
    else:
      rating_temp = np.nan


    index2 = movie_DF.loc[movie_DF['Title']==movie].index.values

    movie_DF.at[index2[0], user] = rating_temp

# Backup

In [10]:
#for user in users:            #loop over all users


#movie_DF['behaind'] =np.nan  
#for movie in movie_DF['Title']: #loop over all movies
#  index1 = user_DF.loc[(user_DF['Title']==movie)&(user_DF['lb_username']== 'behaind')].index.values #find index of movie where lb_username is user (from the outer for loop)
  # turns out that index1 is an array with only 1 value. its kinda the result of the multi-conditional loc which is designed this way because it could return multiple index. so i will just have to use the first entry of it 

#  if len(index1) ==1: #had to create this because it would throw an error if there is no index 0 (which means this user didnt rate the current)
#    rating_temp = user_DF.loc[index1[0], 'User_Rating']
#  else:
#    rating_temp = np.nan


#  index2 = movie_DF.loc[movie_DF['Title']==movie].index.values

#  movie_DF.at[index2[0], 'behaind'] = rating_temp

In [11]:
movie_DF.head()

,Title,Average_Rating,Release_Year,Director,Cast,24framesofnick,swaiborr,behaind,schaffrillas
0,Transformers: The Last Knight,1.89,2017,Michael Bay,"['Mark Wahlberg', 'Josh Duhamel', 'Stanley Tuc...",1.0,NaN,2.0,NaN
1,10 Cloverfield Lane,3.57,2016,Dan Trachtenberg,"['Mary Elizabeth Winstead', 'John Goodman', 'J...",4.5,NaN,3.5,3.5
2,Prey,3.70,2022,Dan Trachtenberg,"['Amber Midthunder', 'Dakota Beavers', 'Dane D...",4.0,NaN,2.0,NaN
3,Teen Titans Go! To the Movies,3.27,2018,"Aaron Horvath, Peter Rida Michail","['Michael Bolton', 'Scott Menville', 'Khary Pa...",3.5,NaN,NaN,NaN
4,Predator,3.78,1987,John McTiernan,"['Arnold Schwarzenegger', 'Carl Weathers', 'El...",4.0,NaN,4.0,NaN

In [12]:
movie_DF.to_csv("drive/My Drive/Colab Notebooks/data/movie_db_with_ratings.csv",index=False, header=True)